*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 224, 219);
    gap: 30px;
}
h1{
    font-size: 50px;
    font-weight: bolder;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid violet;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(246, 246, 241);
    padding: 20px;
}
.input-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input-wrapper label{
    font-size: 20px;
}

.input-wrapper label, .result-wrapper{
    font-size: 20px;
}

button{
    padding: 12px 20px;
    border: none;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
    color: white;
}